<ion-content>
  <section *ngIf="resetting" class="loader ion-no-margin">
    <div class="loading ion-text-center">
      <p><ion-spinner name="crescent"></ion-spinner> Resetting...</p>
    </div>
  </section>
  <section *ngIf="!resetting" class="main ion-no-margin">
    <div class="form ion-padding">
      <ion-card class="ion-no-margin">
        <ion-card-header [class.ion-no-margin]="res" class="ion-text-center">
          <h2 style="font-size: 1.3em;">
            {{notification}}
            <ion-icon
              color="success"
              *ngIf="res && status === 'success'"
              name="checkmark"
            ></ion-icon>
            <ion-icon
              color="danger"
              *ngIf="res && status === 'failure'"
              name="close"
            ></ion-icon>
          </h2>
        </ion-card-header>
        <form
          [formGroup]="resetForm"
          (ngSubmit)="resetPass(resetForm.value)"
          class="login-form ion-margin"
        >
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input
                formControlName="email"
                placeholder="Enter your email"
                type="email"
              ></ion-input>
            </ion-item>
            <ion-button
              fill="clear"
              class="ion-no-margin signin-btn"
              expand="full"
              type="submit"
            >
              Reset Password
            </ion-button>
          </ion-list>
        </form>
      </ion-card>

      <ion-grid class="btn-grid">
        <ion-row>
          <ion-col size="6">
            <ion-button
              routerLink="/auth/login"
              routerDirection="backward"
              class="default"
              fill="clear"
              expand="full"
            >
              Remembered? Sign In
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button
              routerLink="/auth/register"
              routerDirection="forward"
              class="default"
              fill="clear"
              expand="full"
            >
              New user? Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>
