@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Light"), local("Source-Sans-Pro-Light"),
    url("./assets/fonts/sourcesanspro-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Regular"), local("Source-Sans-Pro-Regular"),
    url("./assets/fonts/sourcesanspro-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Bold"), local("Source-Sans-Pro-Bold"),
    url("./assets/fonts/sourcesanspro-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro SemiBold"), local("Source-Sans-Pro-SemiBold"),
    url("./assets/fonts/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
