<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="md-dash"></ion-icon>
      <span class="dot"></span>
    </ion-tab-button>

    <ion-tab-button tab="cars">
      <ion-icon name="md-cars"></ion-icon>
      <span class="dot"></span>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="md-booking"></ion-icon>
      <span class="dot"></span>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="md-user"></ion-icon>
      <span class="dot"></span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
